:root {
    --main-green-color: #00b4a8;
    --main-red-color: #A3261E;
    --blue-primary-color: #418ede;
    --blue-secondary-color: #07427f;
    --button-gradient-color: linear-gradient(45deg, #418ede, #07427f);
    --button-hover-gradient-color: linear-gradient(45deg, #07427f, #418ede);
    --light-black-text-color: #3C3B3B;
    --background-light-color: rgba(245, 245, 245, 0.61);
    --font-family-lato: "Lato", sans-serif;
    --h2-custom-font-size: 4.5rem;
    --h2-main-normal-font-size: 2.8rem;
    --p-default-font-size: 1.2rem;
}

body {
    background: #f4f4f4;
    font-family: Arial;
}

.searchfilter {
    margin-top: -20%;
}

.mainsection {
    padding: 60px 0;
    margin-top: 5%;
}

.filter-box {
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.reset-btn {
    color: #0ea5a4;
    font-size: 14px;
    cursor: pointer;
}

.filter-search input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-top: 5px;
}

.filter-section {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.filter-section h6 {
    font-weight: 600;
    margin-bottom: 10px;
}

.filter-section label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    cursor: pointer;
}

.price-values {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.price-values span {
    background: #0ea5a4;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
}

input[type="range"] {
    width: 100%;
}

.airline-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    font-size: 14px;
}

.airline-item img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.range-slider {
    position: relative;
    height: 30px;
}

.gjhkdfgdf {
    margin-bottom: -30px !important;
}



.range-slider input {
    position: absolute;
    width: 100%;
    pointer-events: none;
    appearance: none;
    background: none;
}

.range-slider input::-webkit-slider-thumb {
    pointer-events: auto;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #d8a55b;
    cursor: pointer;
    appearance: none;
}

.range-slider input::-webkit-slider-runnable-track {
    height: 3px;
    background: #ddd;
}

.dfbfsdfsdfsdf {
    padding: 15px 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.flight-date-tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #eee;
}

.flight-date-tabs .nav-link {
    border: none;
    background: none;
    text-align: center;
    font-weight: 600;
    color: #333;
}

.flight-date-tabs span {
    display: block;
    color: #1bbf60;
    font-size: 14px;
}

.flight-date-tabs .active {
    border-bottom: 3px solid #0ea5a4;
    color: #0ea5a4;
}

.flight-card {
    background: #c4e4e0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.airline-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.airline-info img {
    width: 35px;
}

.duration {
    border-bottom: 2px solid #0ea5a4;
    padding-bottom: 2px;
}

.price {
    font-size: 22px;
    font-weight: 700;
}


/* starthotel filter */
/* starthotel filter */
/* starthotel filter */

.hotel-search-box {
    background: #fff;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* FIELD */
.search-field {
    position: relative;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}

.field-top {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.field-top img {
    width: 18px;
    margin-right: 6px;
}

.field-top span {
    font-size: 14px;
    font-weight: 600;
}

.search-field input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: #555;
}

/* DIVIDER LINE BETWEEN COLS */
.col-lg-3:not(:last-child),
.col-lg-2 {
    border-right: 1px solid #eee;
}

/* BUTTON */
.search-btn-hotel {
    background: #0ea5a4;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    font-weight: 600;
    width: 100%;
}

.jfdbvjfbv788 {
    margin-top: -29%;
}

.fbvhjd img {
    width: 100%;
    height: 270px;
    border-radius: 12px;
}

.gfetyy89 {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 12px;
    border: 1px solid #00a6a6;
    margin-bottom: 20px;

}

.sdhdss8899 {
    padding: 15px;


}

.dsbhjsdsf h4 {
    font-weight: 600;
    color: black;
}



/* Search Button */
.search-btn {
    background: linear-gradient(to right, #4facfe, #007bff);
    color: #fff;
    border: none;
    padding: 12px 40px;
    border-radius: 30px;
    font-weight: 600;
}


/* MENU */
.flight-menu-bar {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 15px;
    border-radius: 12px;
}

.flight-menu-item {
    text-align: center;
    font-size: 14px;
    color: #555;
    cursor: pointer;
    position: relative;
}

.flight-menu-item img {
    width: 24px;
    display: block;
    margin: auto;
}

.flight-menu-item.active {
    color: #007bff;
    font-weight: 600;
}

.flight-menu-item.active::after {
    content: "";
    height: 3px;
    width: 100%;
    background: #007bff;
    position: absolute;
    bottom: -8px;
    left: 0;
    border-radius: 5px;
}

/* CARD */
.flight-main-card {
    background: #fff;
    padding: 25px;
    padding-bottom: 44px;
    border-radius: 15px;
    margin-top: 20px;
}

/* INPUT STYLE */
.hotel-input {
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    font-weight: 600;
    color: #000;
    padding-left: 0;
}

.hotel-input:focus {
    box-shadow: none;
    border-bottom: 2px solid #007bff;
}

/* LABEL */
label {
    font-size: 12px;
    color: #777;
    font-weight: 500;
}

/* BUTTON */
.search-btn {
    background: linear-gradient(to right, #4facfe, #007bff);
    color: #fff;
    border: none;
    padding: 12px 40px;
    border-radius: 30px;
    font-weight: 600;
}

.big-date {
    font-size: 20px;
    font-weight: 700;
    color: #000;
}

.big-date {
    font-size: 22px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
}

.ghaadasd {
    margin-top: -75px;
}

/* Search Button */
.flight-search-btn {
    background: linear-gradient(to right, #07c6b9, #00b4a8);
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 12px 60px;
    font-size: 18px;
    /* margin-top: -90px; */
    position: relative;
}

/* Active text */
.flight-menu-item.active span {
    color: var(--blue-primary-color);
    font-weight: 600;
}


/* ===== Top Menu ===== */
.flight-menu-wrapper {
    width: 80%;
    margin: auto;
    border-bottom: 1px solid #e6e6e6;
    /*padding:15px 0;*/
    background: #fff;
    border-radius: 12px;
}

.flight-menu-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

/* Menu Item */
.flight-menu-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 70px;
    width: 70px;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #555;
}

/* Icon */
.flight-menu-item img {
    width: 36px;
    height: 36px;
    margin-bottom: 6px;
}

/* Active */
.flight-menu-item.active span {
    color: var(--blue-primary-color);
    font-weight: 600;
}

.flight-menu-item {
    position: relative;
    padding-bottom: 8px;
}

/* Active text */
.flight-menu-item.active span {
    color: var(--blue-primary-color);
    font-weight: 600;
}

/* Active underline */
.flight-menu-item.active::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 60%;
    height: 3px;
    background: var(--blue-primary-color);
    border-radius: 2px;
}

.flight-menu-item:hover::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 40%;
    height: 2px;
    background: #ccc;
}

/*start all hotel*/
/*start all hotel*/
/*start all hotel*/


.container {
    max-width: 1200px;
    margin: auto;
}

/* Wrapper important */
.slider-wrapper {
    overflow: hidden;
}

/* Slider */
.slider {
    display: flex;
    gap: 16px;
    scroll-behavior: smooth;
}

/* Card width magic */
.hotel-card {
    flex: 0 0 calc(100% / 4.5);
    /* 👈 4 full + half card */
    background: #fff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

/* Image */
.img-box {
    position: relative;
}

.img-box img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.rating {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #1a73e8;
    color: #fff;
    padding: 3px 8px;
    border-radius: 6px;
    font-size: 12px;
}

/* Body */
.card-body {
    padding: 12px;
}

.card-body h4 {
    font-size: 15px;
    margin-bottom: 5px;
}

.card-body p {
    font-size: 13px;
    color: #777;
}

.price {
    margin-top: 8px;
    font-weight: bold;
}

/* Header */
.section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.controls button {
    border: none;
    background: #fff;
    cursor: pointer;
    padding: 6px 10px;
    border-radius: 50%;
}


body {
    font-family: Arial;
    background: #f5f7fa;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.controls button {
    padding: 6px 12px;
    border: none;
    background: #fff;
    cursor: pointer;
    margin-left: 5px;
    border-radius: 50%;
}

/* IMPORTANT FIX */
.slider-wrapper {
    overflow: hidden;
}

.slider {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

/* hide scrollbar */
.slider::-webkit-scrollbar {
    display: none;
}

/* CARD WIDTH MAGIC */
.hotel-card {
    flex: 0 0 calc(100% / 4.5);
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    min-width: 250px;
}

.hotel-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.hotel-card h4 {
    padding: 10px;
}

.slider {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    scroll-behavior: smooth;
    cursor: grab;
}

.slider:active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

.hhsdfh58558 {
    padding: 50px 0;
    margin-top: 40px;
}

.section-header h2 {
    color: black;
    font-size: 35px;
    font-weight: bold;
}

.destination-section {
    padding: 50px 0;
    background: #f5f7fa;
}

.title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 30px;
}

/* Card */
.destination-card-hotel {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px;
    border: 1.5px solid #4da3ff;
    border-radius: 10px;
    background: #fff;
    transition: 0.3s;
}

.destination-card-hotel:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Image */
.destination-card-hotel img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    object-fit: cover;
}

/* Content */
.destination-card-hotel h5 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.destination-card-hotel p {
    font-size: 13px;
    color: #555;
    margin: 3px 0 0;
}

/* Button */
.view-btn {
    padding: 10px 25px;
    border: none;
    background: #4da3ff;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.hotel-chain-section {
    background: #f5f7fa;
    padding: 50px 20px;
    border-radius: 10px;
}

.hotel-chain-section h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}

.desc {
    text-align: center;
    max-width: 900px;
    margin: 0 auto 30px;
    font-size: 14px;
    color: #555;
    line-height: 1.6;
}

/* Grid */
.logo-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
    text-align: center;
}

/* Box */
.logo-box {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    transition: 0.3s;
}

.logo-box:hover {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.logo-box img {
    max-width: 100%;
    max-height: 50px;
    object-fit: contain;
}

.deal-section {
    padding: 50px 0;
    background: #f5f7fa;
}

.deal-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    background: #f1f3f6;
    padding: 30px;
    border-radius: 15px;
}

/* Left */
.deal-content {
    flex: 1;
}

.deal-content h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}

.deal-content p {
    font-size: 14px;
    color: #555;
    line-height: 1.7;
    margin-bottom: 20px;
}

/* Button */
.read-btn {
    padding: 10px 25px;
    border: 1px solid #007bff;
    background: transparent;
    color: #007bff;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.read-btn:hover {
    background: #007bff;
    color: #fff;
}

/* Right Image */
.deal-image {
    flex: 1;
}

.deal-image img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 15px;
}

.price1 {
    background: #e6f7f6;
    border: 1px solid #14b8a6;
}

.feature-card:hover {
    transform: translateY(-3px);
}

.feature-card {
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    gap: 15px;
    transition: 0.3s ease;
}

.icon-box {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
}


/* search dropdown custom start*/

.city-dropdown {
  position: absolute;
  width: 100%;
  background: #fff;
  border: 1px solid #ddd;
  max-height: 250px;
  overflow-y: auto;
  z-index: 999;
  border-radius: 6px;
  margin-top: 4px;
}

.city-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.city-item:hover {
  background: #f5f5f5;
}

/* search dropdown custom end*/


@media (max-width: 992px) {
    .logo-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .deal-box {
        flex-direction: column;
    }

    .deal-image img {
        height: 220px;
    }
}

@media (max-width: 576px) {
    .logo-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}



/*end all hotel*/
/*end all hotel*/
/*end all hotel*/