/* ================= HERO ================= */
.hero-section {
    /* background: url("../images/asd.png") center center/cover no-repeat; */
    position: relative;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}

.hero-sectionz {
    /* background: url("../images/asd.png") center center/cover no-repeat; */
    height: 85vh;
    position: relative;
}

.hero-sectionz::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
}


.hero-content {
    position: relative;
    color: #fff !important;
    padding: 2rem 0 10rem 0;
}

.offer-text {
    font-size: 14px;
    opacity: 0.9;
    margin-bottom:0;
}

.btn-tour {
    background: var(--button-gradient-color);
    color: #fff;
    padding: 10px 28px;
    border-radius: 6px;
    border: none;
    transition: all 0.3s ease-in-out;
}

.btn-tour:hover {
    background: var(--button-hover-gradient-color);
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.hero-subtitle {
    font-size: 18px;
}

.hero-title {
    font-size: 60px;
    font-weight: 700;
    position: relative;
    margin-top:0;
    margin-bottom:0;
    display: inline-block;
}

.hero-title::after {
    content: "";
    width: 32vw;
    height: 4px;
    background: #fff;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.hero-description {
    max-width: 600px;
    margin: 20px auto;
    padding-bottom:0;
    font-size: 15px;
    opacity: 0.9;
}

.price-text {
    font-size: 18px;
    margin-bottom:0;
}

/* ================= BOOKING CARD ================= */

.booking-section {
    margin-top: -80px;
    position: relative;
    z-index: 5;
}

.booking-card {
    background: #f8f4f4;
    padding: 2vw;
    border-radius: 18px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

.booking-tabs {
    gap: 15px;
}

/* Remove default Bootstrap tab border */
.booking-tabs .nav-link {
    border: 3px solid #dee2e6;
    background: #fff;
    padding: 8px 18px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    transition: 0.3s ease;
    position: relative;
}

/* Hover Effect */
.booking-tabs .nav-link:hover {
    background: #E6F6F6;
    border: 3px solid var(--main-green-color);
    color: #000;
}

/* Active Tab */
.booking-tabs .nav-link.active {
    background: var(--main-green-color);
    border: 3px solid var(--main-green-color);
    color: #fff;
}

/* ===== Discount Badge ===== */
.discount-badge {
    position: absolute;
    left: 50%;
    top: -1.3rem;
    transform: translateX(-50%);
    font-size: 11px;
    padding: 3px 10px;
    border-radius: 20px;
    color: #fff;
    width: max-content;
    white-space: nowrap;
}

/* Gradient Color */
.flig {
    background: linear-gradient(90deg, #B1243B, #029E9D);
}

.hotl {
    background: linear-gradient(90deg, #B1243B, #029E9D);
}

.trip-type label {
    margin-right: 0.4vw;
    font-size: 1vw;
}

.circle{
  width: 2vw;
  height: 2vw;
  border: 1px solid var(--blue-secondary-color);
  border-radius: 50%;
  line-height: 1.8;
}

.form h6{
  font-weight: bold;
  color: var(--blue-primary-color);
}

.form label{
  margin-bottom: 0.7vw;
}

.form i{
  margin-left: 0.1vw;
}

.form p{
  font-size: 0.7vw;
}

.form h5{
  font-weight: bold;
}



/* ================= TOP DESTINATIONS ================= */

/* Section Title */
.sub-title {
    color: #f5b301;
    font-weight: 600;
}

.main-title {
    font-size: 42px;
    font-weight: 700;
}

.main-title span {
    color: var(--blue-primary-color);
}

.section-desc {
    color: #777;
    font-size: 14px;
}

/* Cards */
.destiny-card {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.destiny-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.destiny-card:hover img {
    transform: scale(1.08);
}

/* Overlay */
.destiny-card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.6), transparent);
    top: 0;
    left: 0;
}

/* Card Content */
.card-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    color: #fff;
    z-index: 2;
}

.country {
    color: #74efee;
    font-weight: 600;
    margin-bottom: 5px;
}

.card-content h4 {
    font-weight: 600;
}

/* Tour Badge */
.tour-badge {
    background: var(--blue-primary-color);
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 13px;
}

/* Card Sizes */
.large-card {
    height: 350px;
}

.small-card {
    height: 250px;
}

.tall-card {
    height: 620px;
}

/* ================= Popular DESTINATIONS ================= */

.section-title {
    font-weight: 600;
    color: #272626;
}

/* Card Styling */
.destination-card {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.3s ease;
}

.destination-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
}

/* Gradient Overlay */
.destination-card::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to bottom,
        rgba(0,0,0,0.85) 0%,
        rgba(0,0,0,0.3) 30%,
        rgba(0,0,0,0.3) 70%,
        rgba(0,0,0,0.85) 100%
    );
}
.overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    z-index: 2;
}

.overlay h5 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10vw;
}

.overlay p {
    font-size: 13px;
    margin: 0;
    opacity: 0.8;
}

.overlay h6 {
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

/* Hover Effect */
.destination-card:hover {
    transform: translateY(-5px);
}

/* ================= Travel ================= */
.small-heading {
    color: var(--blue-primary-color);
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
}

/* Main Heading */
.main-heading {
    font-size: 40px;
    font-weight: 700;
    color: #0a1f44;
    line-height: 1.3;
}

/* Description */
.description {
    color: #6c757d;
    font-size: 15px;
    line-height: 1.6;
    max-width: 500px;
}

.feature-box h5 {
    font-weight: 600;
    color: #0a1f44;
}

.feature-box p {
    font-size: 16px;
    color: #6c757d;
    margin-bottom: 0;
}

.icon-box {
    width: 50px;
    height: 50px;
    background: #e6f7f6;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.icon-box img {
    width: 2.8vw;
    color: var(--main-green-color);
}

.travright{
    padding-left: 15%;
}

.watermark-icon {
    position: absolute;
    right: 75%;
    top: 4%;
    width: 7.7vw;
    z-index: 1;
}

.big-image {
    border-radius: 15px;
}

.sm-card {
    position: absolute;
    bottom: 22%;
    left: 2vw;
    width: 250px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

/* ================= Hotel recommendation ================= */

/* Section Title */
.section-title {
    font-size: 26px;
    font-weight: 600;
    color: #1f2b3a;
}

.dfngjndfj h5 
{
    margin-bottom:0 !important;
    margin-top:0 !important;
}

/* Card */
.hotel-card {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s ease;
}

.hotel-card:hover {
    transform: translateY(-6px);
}

.hotel-category-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.hotel-category-item{
    display: flex;
    align-items: center;
    padding: 15px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.hotel-category-item:hover{
    transform: translateY(-5px);
}

.hotel-category-img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 12px;
}

.hotel-category-text h6{
    margin: 0;
    font-size: 16px;
}

.hotel-category-text p{
    margin: 0;
    font-size: 13px;
    color: #777;
}

/* Image */
.hotel-img {
    height: 220px;
    width: 100%;
    object-fit: cover;
}

/* Content */
.hotel-content {
    padding: 20px;
}

.hotel-title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #1f2b3a;
}

.rating {
    font-size: 14px;
    color: #555;
}

.booknb
{
    padding:8px 16px;
    border:none;
    background-color:#00b4a8;
    color:white;
    border-radius:5px;
}

.location {
    color: #3b82f6;
    font-size: 14px;
    padding-top:10px;
    margin-bottom: 0;
}

.price {
    font-size: 20px;
    font-weight: 600;
    color: #1f2b3a;
    margin: 0;
}

/* ================= TESTIMONIALS ================= */

.testimonials-section {
    /* background: url(../images/testimoniback.png) center/cover no-repeat; */
    position: relative;
    padding: 100px 0;
    color: #fff;
}

.overlay2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.65);
    top: 0;
    left: 0;
    z-index: 0;
}

.sub-heading {
    color: #74efee;
    font-weight: 600;
    
}

.testimonial-title {
    font-size: 42px;
    font-weight: 700;
}

.testimonial-title span {
    color: var(--blue-primary-color);
}

.quote-box {
    margin-left: 20%;  
    margin-right: 18%;
}

.quote-icon {
    font-size: 3vw;
    opacity: 0.3;
}

.client-img {
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    object-fit: cover;
}

/* ================= TOP DEALS ================= */

.deals-sub {
    color: #f4b400;
    font-weight: 600;
}

.deals-title {
    font-size: 40px;
    font-weight: 700;
}

.deals-title span {
    color: var(--blue-primary-color);
}

.deals-desc {
    color: #777;
    margin-top: 10px;
}

.deal-card {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    text-align: left;
}

.deal-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.deal-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    color: #fff;
    background: linear-gradient(to top, rgba(0,0,0,0.8), transparent);
}

.rating {
    color: #f4b400;
    font-size: 14px;
}

.price-row {
    margin-top: 8px;
    font-size: 14px;
}



/* ===== Content Wrapper ===== */
.flight-content-area{
    width:90%;
    margin:auto;
    margin-top:15px;
}

/* Trip Type */
.flight-trip-type label{
    margin-right:20px;
    font-size:14px;
}

/* Special Fares */
.flight-fare-btn{
    border:1px solid #ccc;
    padding:11px 15px;
    border-radius:8px;
    background:#fff;
    margin-right: 10px;
    font-size:14px;
}

.flight-fare-btn.active{
    border-color: var(--blue-secondary-color);
    color: var(--blue-primary-color);
    background:#eaf2ff;
}

/* Search Button */
.flight-search-btn{
    background: var(--button-gradient-color);
    color:#fff;
    border:none;
    border-radius:12px;
    padding:12px 60px;
    font-size:18px;
    /* margin-top: -90px; */
    position: relative;
    transition: all 0.3s ease-in-out;
}

.flight-search-btn:hover{
    background: var(--button-hover-gradient-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.menu-section
{
    margin-top: -160px;
    position: relative;
}



