header{
    z-index: 99999;
}

.top-header {
  color: #fff;
  font-size: 13px;
}

.header-sticky{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.2s ease;
    animation: slideDown 0.35s ease-out;
    box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
}

.header-sticky .top-header,
.header-sticky .text-white{
    color: initial !important;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.header-menu small {
  font-size: 11px;
  opacity: 0.8;
}

.icon-circle {
  width: 28px;
  height: 28px;
  background: #ffc107;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.sfsdghdcsdfrrerttr{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}

.diwejojiwerer{
    width: 1.8rem;
    height: 1.8rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}

button.fsdgsadehtrfdewe{
    font-size: 12px;
}

.sifjdnosjkjhjmre div.asdoijodjokpkoie{
    padding-inline: 1rem;
    border-right: 1px dashed rgba(255, 255, 255, 0.4);
}

.sifjdnosjkjhjmre div.asdoijodjokpkoie:last-child{
    border-right: 0;
    padding-right: 0;
}

.dfgsfadeae{
    line-height: 1;
}

.header-sticky .flight-menu-bar{
    flex-wrap: nowrap;
    padding: 0;
}

.header-sticky .gjhkdfgdf{
    margin-bottom: 0 !important;
    width: 425px;
    margin: 0 !important;
    overflow-x: hidden;
    padding: 0;
    border-bottom: 0;
}

.header-sticky .hdr-sticky-drpdwn .flight-menu-item {
    flex: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header-sticky .hdr-sticky-drpdwn .flight-menu-item:first-child{
    padding-top: 0;
}

.header-sticky .hdr-sticky-drpdwn .flight-menu-item:last-child{
    padding-bottom: 0;
}

.header-sticky .flight-menu-item span{
    white-space: nowrap;
    width: 4.5rem;
    text-overflow: ellipsis;
    overflow: hidden;    
    font-size: 0.78rem;
}

.header-sticky .flight-menu-item img {
    height: auto;
    margin: 0;
}

.header-sticky .doijeoijwer.d-none{
    display: flex !important;
}

.header-sticky .asddhedsfeedee i{
    font-size: 1.2rem;
}

.header-sticky .svdgddfseerhthty i{
    font-size: 0.8rem;
}

.header-sticky .hdr-sticky-drpdwn{
    position: absolute;    
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 5px;
    padding: 15px 10px;
    width: 180px;
    visibility: hidden;
    transform: translateY(-10px);
    opacity: 0;
    z-index: -999;
    border-bottom: 1px dotted var(--background-light-color);
    transition: transform 0.3s ease, opacity 0.2s ease;
}

.header-sticky .diejijewmrijwereor:hover .hdr-sticky-drpdwn{
    visibility: visible;
    transform: initial;
    opacity: 1;
    z-index: 999;
    transition: transform 0.3s ease, opacity 0.2s ease;
}
 
.header-sticky .hdr-sticky-drpdwn .flight-menu-bar{
    flex-direction: column;
}

.header-sticky .hdr-sticky-drpdwn .flight-menu-wrapper.gjhkdfgdf{
    width: 100%;
}

.header-sticky .hdr-sticky-drpdwn .flight-menu-item{
    width: 100%;
    flex-direction: row;
    justify-content: start;
    height: auto;
}

.header-sticky .hdr-sticky-drpdwn .flight-menu-item span{
    white-space: initial;
    width: 100%;
    text-align: left;
    margin-left: 6px;
}

.header-sticky .hdr-sticky-drpdwn .flight-menu-item::after{
    height: 1px;
}

.header-sticky .hdr-sticky-drpdwn .flight-menu-item:hover::after{
    width: 100%;
    background: var(--light-border-color);
}

.header-sticky .flight-menu-item:hover{
    color: var(--blue-primary-color);
}

.header-sticky .flight-menu-item.active:hover::after{
    height: 2px !important;
    background: var(--blue-primary-color);
}