.wallet-card {
    padding: 25px;
    margin-bottom: 25px;
}

.wallet-icon {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    background: #eef6ff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.wallet-box {
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    padding: 18px;
}

.payment-header {
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.session-timer {
    border: 1px solid color-mix(in srgb, var(--main-red-color) 50%, transparent 100%);
    background: #fff5f5;
    border-radius: 30px;
    font-size: 0.9rem;
}

.session-timer span {
    color: var(--main-red-color);
    font-weight: 700;
    margin-left: 5px;
}

.payment-layout {
    display: flex;
}

.payment-sidebar {
    width: 280px;
    border-right: 1px solid #eee;
}

.payment-tab {
    padding: 22px;
    display: flex;
    gap: 15px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid var(--border);
    cursor: pointer;
    transition: .3s;
}

.payment-tab:hover {
    background: color-mix(in srgb, var(--blue-primary-color) 15%, #fff 100%);
    border-bottom: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.payment-tab.active {
    background: color-mix(in srgb, var(--blue-primary-color) 15%, #fff 100%);
    border-left: 4px solid var(--blue-primary-color);
}

.payment-tab:first-child{
    border-top: 0;
}

.payment-tab img {
    width: 2.5rem;
    height: 100%;
}

.payment-tab div h6{
    font-weight: 600;
}

.payment-tab.active div h6{
    font-weight: 600;
    color: var(--blue-primary-color);
}

.payment-tab div span{
    font-size: 0.75rem;
}

.payment-content {
    flex: 1;
    padding: 30px;
}

.payment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secure-text {
    color: var(--light-black-text-color);
    font-size: 0.8rem;
}

.summary-card {
    padding: 25px;
}

.hotel-box {
    margin-top: 20px;
}

.date-box {
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    border: 1px solid color-mix(in srgb, var(--blue-secondary-color) 30%, #fff 40%);
    background: color-mix(in srgb, var(--blue-primary-color) 20%, #fff 40%);
}

.date-box div{
    padding: 8px 1rem;
    flex: 1;
}

.date-box div:first-child{
    border-right: 1px solid color-mix(in srgb, var(--blue-secondary-color) 30%, #fff 40%);
}

.date-box div h3 span{
    font-size: 1px;
}

.price-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.discount {
    color: #16a34a;
}

.grand-total {
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 700;
    color: #ff6d00;
}

.terms-text{
    font-size: 0.8rem;
}

.terms-text a{
    color: var(--blue-primary-color);
}

.cdoiwejerer p{
    font-size: 0.9rem;
    color: #555;
}

.cdoiwejerer span{
    font-size: 0.9rem;
    font-weight: 600;
}

.doiewjrwer span{
    background: color-mix(in srgb, var(--main-yellow-color) 20%, #fff 100%);
    border: 1px solid var(--main-yellow-color);
    padding: 2px 10px;
    border-radius: 50px;
    font-weight: 500;
    color: #876e10;
    max-width: 85%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}




.hotel-card:has(.traveller-info):hover{
    transform: initial;
}


@media (max-width: 991px) {

    .payment-layout {
        flex-direction: column;
    }

    .payment-sidebar {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #eee;
    }
}